html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #333;
  font-size: 1.4rem; }

.header {
  min-height: 100rem;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 130, 130, 0.8)), to(rgba(240, 208, 136, 0.8))), url("../images/img-header-bg.jpg") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(232, 130, 130, 0.8), rgba(240, 208, 136, 0.8)), url("../images/img-header-bg.jpg") no-repeat center/cover; }
  .header-logo {
    font-size: 3rem;
    font-weight: bold;
    color: white; }
  .header-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem; }
  .header-menu-icon {
    color: white; }
  .header-top {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-menu-link {
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .header-content {
    padding-top: 17rem;
    text-align: center;
    max-width: 80rem;
    margin: 0 auto; }
    .header-content-caption {
      font-size: 7.2rem;
      font-family: "Kaushan Script", cursive;
      margin-bottom: 3rem; }
    .header-content-main {
      font-size: 15rem;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 5rem;
      margin-bottom: 5rem;
      position: relative; }
      .header-content-main::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 6rem;
        height: 0.5rem;
        background-color: #fff; }
    .header-content-more {
      font-size: 1.4rem;
      text-transform: uppercase;
      color: white;
      padding: 1rem 3rem;
      border: 4px solid white;
      font-weight: bold;
      display: inline-block; }
  .header-bottom {
    margin-top: 15.5rem;
    padding-bottom: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-bottom-item {
      padding-top: 2.5rem;
      border-top: 5px solid white;
      width: calc(25% - 30px);
      margin-left: 3rem;
      opacity: 0.6;
      position: relative;
      cursor: pointer;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear; }
      .header-bottom-item::before {
        content: "";
        position: absolute;
        width: 7rem;
        height: 0.5rem;
        background-color: #e88282;
        left: 0;
        top: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0; }
    .header-bottom-item.is-active {
      opacity: 1; }
      .header-bottom-item.is-active::before {
        opacity: 1; }
    .header-bottom-number {
      font-size: 2.4rem;
      font-weight: bold; }
    .header-bottom-text {
      margin-left: 1rem;
      font-size: 1.8rem;
      text-transform: uppercase; }

@media screen and (min-width: 768px) {
  .header-menu-item:not(:first-child) {
    margin-left: 5rem; }
  .header-menu-link {
    color: white;
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 4px solid transparent; }
    .header-menu-link:hover {
      color: #f0d088;
      border-bottom-color: #f0d088; } }

@media screen and (max-width: 1023px) {
  .header {
    min-height: unset; }
  .header-bottom {
    margin-top: 10.5rem; }
  .header-content {
    padding-top: 10rem; }
    .header-content-main {
      font-size: 10rem; } }

@media screen and (max-width: 767px) {
  .header-bottom-text {
    display: none; }
  .header-content-caption {
    font-size: 3rem;
    margin-bottom: 1rem; }
  .header-content-main {
    font-size: 5rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem; }
  .header-bottom-item {
    text-align: center;
    padding-top: 1.5rem; }
  .header-bottom-item::before {
    width: 35%; }
  .header-bottom {
    margin-top: 5rem; }
  .header-content {
    padding-top: 5rem; }
  .header-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    width: 30rem;
    display: block;
    padding: 2rem 2.5rem;
    z-index: 10;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    .header-menu-item {
      margin-bottom: 1rem; }
    .header-menu-menu-item {
      display: block;
      color: #333;
      padding: 1.5rem; }
      .header-menu-menu-item:hover {
        color: #e88282; }
    .header-menu-link {
      color: #333;
      width: 100%;
      padding: 1.5rem;
      border-radius: 4px; }
      .header-menu-link:hover {
        color: white;
        background-color: #f0d088; }
  .header-menu.is-expand {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .header-toggle {
    display: inline-block;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; } }

.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: #fff; }
  .about-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem; }
  .about-item {
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    .about-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #95e1d3;
      z-index: -1;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear; }
    .about-item:hover {
      -webkit-transform: translate(-1rem, -1rem);
      transform: translate(-1rem, -1rem); }
      .about-item:hover .about-content {
        opacity: 1;
        visibility: visible; }
      .about-item:hover::after {
        -webkit-transform: translate(1rem, 1rem);
        transform: translate(1rem, 1rem); }
  .about-content {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 130, 130, 0.8)), to(rgba(240, 208, 136, 0.8)));
    background: linear-gradient(to bottom, rgba(232, 130, 130, 0.8), rgba(240, 208, 136, 0.8));
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem; }
  .about-icon {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .about-title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: size;
    height: size;
    white-space: pre-wrap;
    word-break: break-all; }
  @media screen and (max-width: 767px) {
    .about {
      padding-top: 5rem;
      padding-bottom: 5rem; }
      .about-list {
        display: -ms-grid;
        display: grid;
        grid-auto-columns: 80%;
        grid-auto-flow: column;
        -ms-grid-columns: unset;
        grid-template-columns: unset;
        grid-row-gap: 2.5rem;
        overflow-x: auto;
        padding: 1rem;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        margin-left: unset;
        -ms-overflow-style: none;
        scrollbar-width: none; }
        .about-list::-webkit-scrollbar {
          display: none; }
      .about-item {
        scroll-snap-align: start; }
      .about-image {
        -o-object-fit: cover;
        object-fit: cover; } }

.number {
  background-color: #95e1d3; }
  .number-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .number-item {
    padding: 8.5rem 3.5rem;
    color: white;
    border: 1px solid white;
    text-align: center;
    text-transform: uppercase;
    width: 20%; }
  .number-item:last-child() {
    border-right: 1px solid white; }
  .number-item-count {
    font-size: 7.2rem;
    font-weight: bold;
    margin-bottom: 2rem; }
  .number-item-text {
    line-height: 1.4; }
  @media screen and (max-width: 1023px) {
    .number-item {
      padding: 5rem 1.5rem; }
    .number-item-count {
      font-size: 5rem;
      margin-bottom: 1rem; }
    .number-item-text {
      font-size: 1.4rem; } }
  @media screen and (max-width: 767px) {
    .number-list {
      display: block; }
    .number-item {
      width: 100%;
      padding: 2.5rem 1.5rem; }
      .number-item:not(:last-child) {
        border-bottom: 1px solid white; }
      .number-item:not(:nth-child(999)) {
        border-left: 0;
        border-right: 0; } }

.service {
  padding: 11rem 0 12rem;
  background-color: #fff; }
  .service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: 6.5rem; }
    .service-list:not(:last-child) {
      border-bottom: 1px solid #ccc;
      margin-bottom: 5rem;
      padding-bottom: 5rem; }
  .service-item {
    width: calc(33.33% - 2.7rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .service-item-icon {
      width: 3.5rem;
      height: 3.5rem;
      margin: 0 3rem; }
    .service-item-info {
      width: calc(100% - 9.5rem); }
    .service-item-title {
      color: #333;
      font-weight: 700;
      margin-bottom: 1rem;
      text-transform: uppercase;
      line-height: 1.4;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      width: size;
      height: size;
      white-space: pre-wrap;
      word-break: break-all; }
    .service-item-desc {
      color: #999;
      line-height: 1.6;
      font-weight: 300;
      font-family: "Roboto", sans-serif; }
  @media screen and (max-width: 1023px) {
    .service {
      padding: 5rem 0; }
      .service-list {
        display: block; }
      .service-item {
        width: 100%; }
        .service-item:not(:last-child) {
          margin-bottom: 3rem; } }

.device {
  padding-top: 11rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.6))), url("../images/img-device-bg.png") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6)), url("../images/img-device-bg.png") no-repeat center/cover; }
  .device-media {
    text-align: center; }
  .device-image {
    margin: 0 auto -9.3rem;
    display: inline-block; }
  @media screen and (max-width: 767px) {
    .device {
      padding-top: 5rem; }
      .device-image {
        max-width: 80%;
        margin-bottom: -4.6rem; } }
  @media screen and (max-width: 413px) {
    .device-image {
      margin-bottom: -4.2rem; } }
  @media screen and (max-width: 319px) {
    .device-image {
      margin-bottom: -3.5rem; } }

.wedo {
  padding: 10rem 0; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

.block-box {
  text-align: center;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto; }
  .block-box-caption {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    font-family: "Kaushan Script", cursive; }
  .block-box-heading {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    padding-bottom: 3.5rem;
    position: relative; }
    .block-box-heading::before {
      content: "";
      width: 6.5rem;
      height: 4px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #e88282;
      bottom: 0; }
  .block-box-desc {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #999;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 10rem; }
  @media screen and (max-width: 767px) {
    .block-box-caption {
      font-size: 2rem; }
    .block-box-heading {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
      padding-bottom: 2.5rem; }
    .block-box-desc {
      font-size: 1.4rem;
      margin-bottom: 4rem; } }
